.page-editor {
	height: calc(100% - #{$header_height});

	.editor-wrapper {
		height: 100%;
		position: relative;

		.editor {
			height: 100%;
			padding: 0 300px;
			background: #0e0f11;
			position: relative;
		}

		.create-page {
			@include align-center;
			padding: 30px;
			width: 500px;
			background: #fff;
			border-radius: 10px;

			h2 {
				text-transform: uppercase;
				color: #aaa;
				letter-spacing: 2px;
				font-size: 1em;
				font-weight: 300;
			}

			form {
				margin: 20px 0 0 0;

				.form-control {
					@include placeholder(#aaa);
					height: auto;
					padding: 12px;
					border-color: #ddd;
					outline: none;
					box-shadow: none;

					&:focus {
						border-color: #aaa;
					}
				}

				.btn {
					padding: 0;
					display: block;
					font-weight: bold;
					border: none;
					width: 100%;
					height: 46px;
					line-height: 46px;
				}
			}
		}
	}
}