$body-bg: #1a1c1e;
$brand-primary: #307ff4;
$brand-success: #0bc58d;
$brand-danger: #f97384;
$brand-warning: #f5be28;

$header-height: 60px;

$icon-font-path: "/node_modules/bootstrap-sass/assets/fonts/bootstrap/";